/* unidades de medida
 el estandar de el font- size es de 16px

 font-size: 

 rem ********
equivalente al tamaño de fuente de root
1rem =16px (siempre q no se cambie el font-size de root)
 
NORMALIZACION DE ESTILO

em***********

1em = 100% del tamaño de fuente del contexto
valor relativo se calcula dependiendo del tamano que asignemos

MARGENES Y PADINGS 
 
 */


/* estilos de texto
  font-style : depende de  que si el fondo tiene los estilos correspondientes
  NOTA: sino tiene  un estilo el navegador le asignara uno a la fuerza modificando la fuente (caso italic)
  font-weight : define el grosor
  text-align: left , right , justify, center
  line-height: interlineado de texto 1.5(recomendado)
  text-decoration: da subrayados(underline , line-trhou)
  text-transform: modifica los  mayusculas o minusculas o tipo de oracion(capitalize)
  letter-spacing: sepracion de una letra a otra
  word-spacing:sepracion de palabras
  */


/* sombras de texto
la  sombra es una copia exacta de el texto
text-shadow : deplazamientox desplazamientoy difuminado color (valores)
*/

 :root {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
    color: white;
}

p {
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 2px 2px 3px whitesmoke;
    font-size: 2rem;
    border: 10px solid black;
    font-weight: 300;
    text-align: center;
    /*por defecto lleva left*/
    line-height: 6rem;
    letter-spacing: 1.5rem;
    word-spacing: 3rem;
    background: hsl(200, 20%, 20%);
}